{% extends 'order/base.html' %}

{% block content %}
    <h1>{{title}}</h1>

    <form action="{% url 'contact' %}" method="post">
        {#    token  against csrf attack#}
        {% csrf_token %}
        {#   loop is running on each element of form, instead to write 6 similar rows for each field #}
        {% for f in form %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <button type="submit">Send</button>
    </form>
{% endblock %}
