{% extends 'order/base.html' %}
{% block content %}
<div class="text-center">
   <div class="card mb-4 rounded-3 shadow-sm mx-auto" style="width: 18rem;">
      <div class="card-header py-3">
         <h2>{{ title }}</h2>
         <br>
         <form action="{% url 'contact' %}" method="post">
            {# token  against csrf attack #}
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>
            <label>Subject</label>
                <p>{{ form.subject }}</p>
            <label>Message</label>
                <p>{{ form.message }}</p>
            <button type="submit" class="btn btn-dark">Send</button>
         </form>
      </div>
   </div>
</div>
{% endblock %}