{% extends 'order/base.html' %}

{% block content %}
    <ul class="list-articles" style="text-align:center;"  >
        {% for p in plans %}
            <li><h2>{{p.planName}}</h2>
                <h3>speed: {{ p.speed }}</h3>
                <h3>price: {{ p.price }} NIS</h3>
                {% if user.is_authenticated and userPlan == p.id %}
                            <h1>Your plan</h1>
                {% else %}
                            <p class="link-read-post" style="text-align:center;"> <a href="{{ p.get_absolute_url }}">Upgrade now</a></p>
                {% endif %}
                <h3><br><br><br></h3>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
