{% extends 'order/base.html' %}



{% block content %}
    <h1 style="text-align:center;">Plans name: {{ plan.planName }}</h1>
    <h2 style="text-align:center;">Speed: {{ plan.speed }}</h2>
    <h2 style="text-align:center;">Price: {{ plan.price }} NIS/month</h2>
    <h2 style="text-align:center;"><button type="button" onclick="alert('Hello world!')">Buy that package</button></h2>
     <h2 style="text-align:center;"> <button type="button" onclick="alert('soon')" >Take me back to homepage</button></h2>
    {{ post.content|linebreaks }}
{% endblock %}


{#משפיע רק בתוך עמוד התכנית שבחרנו#}